@charset "utf-8";

/* CSS Document */

body {
	
	font-size: 10pt;
}
header {

	margin-bottom: 20px;

}

#welcome i {

	padding: 1px;

	background: #ffffff;

	color: #333333;

}
.margin-zero { margin:0 !important;}
#wrapper {

	margin-top: 60px;

	margin-bottom: 60px;

}

#login {

	margin-top: 60px;

	margin-bottom: 60px;

}
.icon-chevron-up {
	background-position: -288px -120px !important;
background-image: url("../images/glyphicons-halflings.png") !important;
}
.icon-chevron-down {
background-position: -313px -119px !important;
background-image: url("../images/glyphicons-halflings.png") !important;
}


.record-found { font-weight:bold;}

#login-form {

    background-color: #FFFFFF;

    border: 1px solid #E5E5E5;

    border-radius: 5px 5px 5px 5px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

    margin: 0 auto 20px;

    max-width: 300px;

    padding: 19px 29px 29px;

}



#main-heading {

	margin-top: 0;

	margin-bottom: 20px;

	padding: 0 15px;

}

.nav-header {

	padding-top: 0;

	padding-bottom: 0;

}

.nav-header,

#main-heading {

	height: 36px;

	line-height: 36px;

	font-size: 17px;

	font-weight: normal;

	color: #FFFFFF;

	text-transform: capitalize;

	border-radius: 2px;

	background: #3b3f48;

	background: -webkit-linear-gradient(#4c535d, #3b3f48);

	background: -moz-linear-gradient(#4c535d, #3b3f48);

	background: -o-linear-gradient(#4c535d, #3b3f48);

	background: -webkit-gradient(linear, 0 0, 0 100%, from(#4c535d), to(#3b3f48));

	background: linear-gradient(#4c535d, #3b3f48);

}

.control-group label,

.control-group span {

	margin-top: 5px;

}

/*-------- NAV -----------*/

aside nav li:first-child a {

	margin-top: 0px;

}

aside nav li {

	margin: 0;

}

aside nav a {

	border-radius: 2px !important;

	background: -webkit-linear-gradient(#fafafa, #efefef);

	background: -moz-linear-gradient(#fafafa, #efefef);

	background: -o-linear-gradient(#fafafa, #efefef);

	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));

	background: linear-gradient(#fafafa, #efefef);

	border: 1px solid #d5d5d5;

	color: #494949;

	line-height: 20px !important;

	height: 20px;

	display: block;

}

aside nav a:hover,

aside nav a:focus,

aside nav a.active {

	color: #ffffff;

	background: #4f5561;

	background: -webkit-linear-gradient(#4c535d, #3b3f48);

	background: -moz-linear-gradient(#4c535d, #3b3f48);

	background: -o-linear-gradient(#4c535d, #3b3f48);

	background: -webkit-gradient(linear, 0 0, 0 100%, from(#4c535d), to(#3b3f48));

	background: linear-gradient(#4c535d, #3b3f48);
	
	border: 1px solid #d5d5d5;

}

aside nav .sub-nav {

	margin-top: -2px;

	padding-bottom: 1px;

	z-index: 1000;

	margin-bottom: 0;

}

aside nav .sub-nav li {

	border: 1px solid #d5d5d5 !important;

	margin: 2px 2px;

	

}
li [class^="icon-"], .nav li [class^="icon-"], li [class*=" icon-"], .nav li [class*=" icon-"] {
	width: 21px !important;
	 }
aside nav .sub-nav li a {

	border: 0 !important;

	background: #e0e0e0;

}

aside nav .sub-nav li a:hover,

aside nav .sub-nav li a:focus,

aside nav .sub-nav li a.active {

	background: none;

	background: linear-gradient(#5b616f, #4c535d);

}

.icon {

	font-size: 1.2em;

}

/*-------- NAV -----------*/
footer {

	height: 40px;

	background-color: #1B1B1B;

	background-image: linear-gradient(to bottom, #111111, #222222);

	background-repeat: repeat-x;

	border-color: #252525;

}

#copyright li {

	line-height: 40px;

	margin: 0 10px;

	color: #ffffff;

}

.widget-box {

	/*background: none repeat scroll 0 0 #F9F9F9;*/
	
	border-top: 1px solid #CDCDCD;
	
	border-left: 1px solid #CDCDCD;
	
	border-right: 1px solid #CDCDCD;
	
	clear: both;
	
	margin-top: 16px;
	
	margin-bottom: 16px;
	
	position: relative;

}

.widget-title {

	background-color: #EFEFEF;

	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#FDFDFD), to(#EAEAEA));

	background-image: -webkit-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);

	background-image: -moz-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);

	background-image: -ms-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);

	background-image: -o-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);

	background-image: -linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 );

	border-bottom: 1px solid #CDCDCD;

	height: 36px;

}

.widget-content {

	padding: 12px 15px;
	
	border-bottom: 1px solid #CDCDCD;

}



.nopadding {

	padding: 0 !important;

}

.widget-title h5 {

	color: #666;
	
	text-shadow: 0 1px 0 #FFF;
	
	float: left;
	
	font-size: 1em;
	
	font-weight: bold;
	
	padding: 12px;
	
	line-height: 12px;
	
	margin: 0;

}

.widget-title span.icon {

	border-right: 1px solid #CDCDCD;
	
	padding: 9px 10px 7px 11px;
	
	float: left;
	
	opacity: .7;

}



.widget-title .btn-add{

	margin: 3px 5px 0 0;

	display: block;

}

.entry

{

	background:#FFFFFF;

	padding:35px 30px !important;
	overflow: hidden;

}

.table-responsive

{

    overflow: auto;

    max-width: none !important;

}

label[for="userfile"] {
	line-height:115px;
}

.pagination {
	margin:0;
}

.job_desc {
	height:20px;
}

.rows {
	margin-top:8px !important;
}

#total{
	margin-left:8px;
	font-weight:bold;
}

.my-menu {
	min-width: 105px !important; 
}

#assign-label {
	margin-top: 5px;
}

#assign-btn {
	margin-left:-8px;
}

.row-fluid .span6 {

	width: 41.717949%;

}

#serch_btn{
	/*margin-left: -90px;*/
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
	
	#wrapper {

		margin-top: 20px;

		margin-bottom: 20px;

	}

	#login {

		margin-top: 20px;

		margin-bottom: 20px;

	}

	
	#user-menu nav li a span {

		position: absolute;

		text-indent: -9999px;

	}
	/*-------- NAV -----------
	
	aside nav li a span {

		position: absolute;

		text-indent: -9999px;

	}
	
	-------- NAV -----------*/

}
	/*-------- NAV -----------*/
@media only screen and (min-width: 768px) and (max-width: 800px) {
	
	aside nav li a span 
	{
		display:none;
	}
	aside nav li a i 
	{
		margin-left:28px;
	}
	aside nav li a  
	{
		font-size:20px;
	}
	
	
}
@media only screen and (min-width: 768px) and (max-width: 800px)  {
	
	#form-box 
	{
		width: 50.491713% !important;
		margin-left: 200px;
	}
	
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
	
	#wrapper {

		margin-top: 20px;

		margin-bottom: 20px;

	}

	#login {

		margin-top: 20px;

		margin-bottom: 20px;

	}

	article {

		margin-top: 35px;

	}

	#user-menu nav li a span {

		position: absolute;

		text-indent: -9999px;

	}
	
	/*-------- NAV -----------*/
	
	aside nav li {

		display: inline-block;

		float: left;

	}

	aside nav li a span {

		display: none;

	}

	

	aside nav .sub-nav {

		background: #f8f8f8 !important;

		position: absolute;

		margin: 0 0 0 0px !important;

		padding: 0;

		padding-bottom: -1px;

		border: 1px solid #d5d5d5;

		border-radius: 2px;


	}

	aside nav .sub-nav li {

		border: 1px solid #cfcfcf !important;;

		border-radius: 2px !important;

	}

	aside nav .sub-nav {

		margin-top: -2px;

		border: none;

	}
	
	/*-------- NAV -----------*/
	
}
#asign-to
{
	padding-top: 20px;
	width:95%;
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
	
	body {
	
		font-size: 0.8em !important;
		
	}
	
}
.modal-body {
	/*overflow-y:visible;*/
	
}
.modal{
	left: 18% !important;
	width: 68% !important;
	margin-left: 0px !important;
}

.image
{
	border: solid 2px #C0BBBB;
	padding: 2px;
	background: #FFF;
	width:150px !important;
	height:100px !important;
}

.thumb 
{
	width: 155px;
	height:135px;
	margin: 10px;
	float: left
}
#img_loading {
    position: fixed;
    top: 30%;
    left: 50%;
    display: block;
}